Repository consdu/topics-next14: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Update README.md
  README.md
Due: prettier --write

Add latest Prisma client and add connection to prod db
  .env
  package-lock.json
  package.json
  prisma/dev.db
  prisma/migrations/20231123133601_init/migration.sql
  prisma/migrations/20231212121216_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier --write

Remove old .env containing dev db
  .env
Due: none

Revalidate topic show page upon comment creation
  .gitignore
  src/actions/createComment.ts
Due: eslint --max-warnings=0, prettier --write

Revalidate home page upon post creation
  src/actions/createPost.ts
Due: eslint --max-warnings=0, prettier --write

Fix paths revalidation for topic show page and home page
  src/actions/createComment.ts
  src/actions/createPost.ts
  src/app/topics/[slug]/page.tsx
  src/utils/paths.ts
Due: eslint --max-warnings=0, prettier --write

Add tailwind eslint plugin
  .eslintrc.json
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --max-warnings=0, prettier --write

Fix env file tracking
  .env
  .gitignore
Due: none

Delet env file
  .env
  .gitignore
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx,css,json,md}
